/*CHECKBOX*/



.checkbox__lable {
display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    @media screen and (max-width: 479px) {
      flex-wrap: wrap;     
    }}
.checkbox__lable .checkbox__icon-link {
    border: 2px solid var(--brand-color);
    border-radius: 2px;
    background-color: var(--basic-color);
    width: 16px;
    height: 15px;
    margin-right: 8px;
    transition-property: background-color, border;
    @extend %transition;
}

.checkbox__icon {
    width: 16px;
    height: 15px;
    fill: transparent;
    transition-property: fill;
    @extend %transition;
}

.checkbox__input:checked + .checkbox__lable .checkbox__icon-link {
    background-color: var(--accent-color);
    border: none;
}

.checkbox__input:checked + .checkbox__lable .checkbox__icon-link .checkbox__icon {
    fill: var(--basic-color);
}

.checkbox__contract {
    color: var(--link-color);
    margin-left: 2px; 
    font-size: 12px;
@media screen and (max-width: 479px) {
        margin-left: -85px;
    }

&::after {
    color: var(--link-color);
    display: block;
    content: '';
    height: 1px;
    background: var(--link-color);
}}
/*CHECKBOX-END*/