
.container-form--margin {
    //margin-top: 12px;
    //margin-top: 35px;

    display: flex;
    justify-content: center;
}

.footer-form {
   
   margin-bottom: 20px;
@media screen and (min-width: 1199px) {
       margin-right: 12px; 
       margin-bottom: 0px;
    }
}

.footer-form__button {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color6);
    border-radius: 4px;
    border: none;

}

.form-field__button--title {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-color);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
   
}

.footer-form__input {
    outline: none;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: var(--fon-color);
    border: 1px solid var(--border-footer-form__input);
    filter: drop-shadow(0px 4px 4px var(--box-shadow-color6));
    border-radius: 4px;

    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    transition-property: border;
    @extend %transition;
    &:focus-within+ & {
    border-color: var(--link-color);
    }
    @media screen and (min-width: 319px) and (max-width: 478px) {
        width: auto;
        }

}



.footer-form__label {
    /*display: block;*/

    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--letter-color);
}

.footer-form__title {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    margin-bottom: 20px;


    text-align: center;
    @media screen and (min-width: 1199px) {
            display: flex;
        }
}

.footer-form__inner {
    position: relative;
&:focus-within>.icons-field-size {
    fill: var(--link-color);
}
}
.footer-form__icon {
    height: 24px;
    width: 24px;
    fill: var(--basic-color);
    transition-property: fill;
@extend %transition;
}

.footer-form__button--form {
@extend %flex;
    gap: 10px;
}