.hero__title {
    color: var(--basic-color);
    font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 0.06em;
    text-align: center;
    margin-right: 45px;
    margin-left: 45px;
    padding-top: 118px;
    @media screen and (max-width: 479px) {
        font-size: 24px;
        }}
        
.hero {
    max-width: 1600px;
    height: 400px;
    background-color: var(--fon-color);
    background-image:
    var(--bg-hero-gradient),
    url(../images/HeRO-background-image.jpg);

     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @media screen and (min-width: 319px) {
        background-image:
       var(--bg-hero-gradient),
        url(../images/icons/icon_mobile/HeRO-480-1-min.jpg);
    }  
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            /*.hero {
                background-image: url(../images/icons/icon_mobile/HeRO-480-2-min.jpg);
    }*/}

        @media screen and (min-width: 768px) {
         background-image:
             (--bg-hero-gradient),
             url(../images/icons/icon_mobile/HeRO-768-1-min.jpg);
     }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            /* .hero {
                background-image: url(../images/icons/icon_mobile/HeRO-768-2-min.jpg);
    }*/}


    @media screen and (min-width: 1200px) {
        background-image:
        var(--bg-hero-gradient),
        url(../images/icons/icon_mobile/HeRO-1600-1-min.jpg);
    }
 
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
           /*  .hero {
                background-image: url(../images/icons/icon_mobile/HeRO-1600-2-min.jpg);
     }*/}}
        