.logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.logo__footer {
    color: var(--basic-color);
}
.logo__header {
    font-family: var(--font-family-logo);
    font-weight: 700px;
    color: var(--black-color);
}