.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background: var(--basic-color);
    box-shadow: 0px 1px 3px var(--box-shadow-color3), 0px 1px 1px var(--box-shadow-color2),
        0px 2px 1px var(--border-form-field);
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
          width: 528px;
          height: 581px;
        }
                 @media screen and (max-width: 479px) {
                     width: 320px;
                     height: 620px;
                     padding: 40px 20px 20px 20px;
                 }
}

.modal__close-button {
@extend %flex;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: var(--basic-color);
    border: 1px solid var(--box-shadow-color4);
    height: 30px;
    width: 30px;
    outline: none;
}
.modal__close-button--icons {
    fill: rgba(0, 0, 0, 1);
}

.modal__close-button--icons-size {
    height: 17px;
    width: 17px;
    transition-property: fill;
    @extend %transition;
&:hover {
    fill: var(--link-color);
}

&:focus {
    fill: var(--link-color);
}    
}

