.nav {
    list-style: none;
        padding-left: 0;
        margin: 0;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    & {margin-left: 93px;
}  
}
.nav-contacts__item {
&:not(:last-child) {
        margin-right: 50px;
    }
    }
.nav-contacts {
    list-style: none;
        padding-left: 0;
        margin: 0;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
& { margin-left: auto;
    }
}
.nav__item {
    &:not(:last-child) {
            margin-right: 50px;
    }  
    }
.nav__link--color {
    /*display: flex;
    align-items: center;*/
    color: var(--navigation-color);
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    transition-property: color;
    @extend %transition;

    &:hover {
        color: var(--contact-active-color);
    }

    &:focus {
        color: var(--contact-active-color);
    }

    &:active {
        color: var(--contact-active-color);
    }   
}

.nav-contacts__link {
    display: flex;
    align-items: center;
    color: var(--contact-color);
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    transition-property: color;
    @extend %transition;

    &:hover {
        color: var(--contact-active-color);
    }

    &:focus {
        color: var(--contact-active-color);
    }

    &:active {
        color: var(--contact-active-color);
    }
}


.nav__link--activ {
    color: var(--accent-color);
    height: 16px;
}

.nav__link--activ::after {
    content: '';
    display: flex;
    align-items: baseline;
    width: auto;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;

    position: relative;
    bottom: -28px;

    overflow: hidden;}








.nav-contacts__link:hover .nav__mail-icon {
    fill: var(--contact-active-color);
    color: var(--contact-active-color);
}
.nav-contacts__link:focus .nav__mail-icon {
    fill: var(--contact-active-color);
    color: var(--contact-active-color);
}
.nav-contacts__link:hover .nav__tel-icon {
    fill: var(--contact-active-color);
    color: var(--contact-active-color);
}

.nav-contacts__link:focus .nav__tel-icon {
    fill: var(--contact-active-color);
    color: var(--contact-active-color);
}

.nav__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--contact-color);
    transition-property: fill;
    @extend %transition;
}
.nav__tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--contact-color);
    transition-property: fill;
    @extend %transition;
}
