.team {
    display: flex;  /* inline-flex був*/
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
        padding-left: 0;
        margin: 0;
        gap: 28px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 768px;
                margin-right: auto;
                margin-left: auto;
            }}

.team__card {
    
    box-shadow: 0px 1px 3px var(--box-shadow-color3), 0px 1px 1px var(--box-shadow-color2),
                0px 2px 1px var(--box-shadow-color1);
    border-radius: 0px 0px 4px 4px;
    background: var(--basic-color); 
    margin-left: auto;
    margin-right: auto;

  @media screen and (min-width: 479px) {
            height: 622px;
            width: 450px;
        }
    
        @media screen and (min-width: 767px) {
            height: 536px;
            width: 354px;
        }
    
        @media screen and (min-width: 1199px) {
            height: 428px;
            width: 270px;
        }
}
 .team__card-photo {
    @media screen and (min-width: 479px) {
            width: 450px;
           }
    
        @media screen and (min-width: 767px) {
           // height: 374px;
            width: 352px;
        }
    
        @media screen and (min-width: 1199px) {
           // height: 260px;
            width: 294px;
        }
 }

.team__item {
/*box-shadow: 0px 1px 3px var(--box-shadow-color3), 0px 1px 1px var(--box-shadow-color2),
        0px 2px 1px var(--box-shadow-color1);
    border-radius: 0px 0px 4px 4px;
    background: var(--basic-color);*/
    //margin-bottom: 30px;
    //margin-left: auto;
    //margin-right: auto;
 
}

.team__text {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03ex;
    color: var(--letter-color);
    text-align: center;
    margin-bottom: 16px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03ex;
    color: var(--brand-color);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}
