 .container {
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100%;
   @media screen and (min-width: 480px) and (max-width: 767px) {
            min-width: 100%;
        }

@media screen and (min-width: 768px) and (max-width: 1199px) {
        //min-width: 768px;
        min-width: 100%;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;   
       
   }}




.container__header-hero {
    position: relative;
    background-image: var(--bg-hero-gradient);
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;

    @media screen and (min-width: 479px) {
        min-width: 480px;
    }

    @media screen and (min-width: 767px) {
        min-width: 768px;
    }

    @media screen and (min-width: 1199px) {
        min-width: 1200px;
    }}



.container__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.container--footer-flex {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 1199px) {
            display: flex;
            justify-content: center;
            height: auto;
           width: 1200px;
        }

    flex-wrap: wrap;
    justify-content: center;
}

.container__logo-icons {
    @media screen and (min-width: 768px) {
            display: flex;
            gap: 165px;
            justify-content: center;
           height: auto;
            @media screen and (min-width: 768px) and (max-width:1199px) {
                 margin-bottom: 60px;  
                }
           
        }
     @media screen and (min-width: 1199px) {
                    gap: 70px; 
                    margin-right: auto;
        }
}

.container-form--icons {
     @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 8px;
        }
}
.container-form {
@media screen and (min-width: 1199px) {
        display: flex;
        //margin-left: 93px;
        align-items: flex-end;
    }
}
.container__logo-icons {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

}

.container--footer-logo {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

}