/*.section {   --DTSKTOP--
    padding-top: 94px;
    padding-bottom: 94px;}*/


.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section--padding_top {
    padding-top: 0px;

    @media screen and (max-width: 1199px) {
        display: none;
        }
    
        @media screen and (min-width: 1200px) {
           display: block;
        }
}
/*.section--background {
    background: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;}*/

.section--background {
    background: var(--background-team-color);
    padding-top: 60px;
    padding-bottom: 60px;}

.section__title {
    margin-bottom: 50px;
    text-align: center;
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}