:root {
    --brand-color: #212121;
    --accent-color: #2196f3;
    --navigation-color: rgba(33, 33, 33, 1);
    --contact-active-color: rgba(33, 150, 243, 1);
    --contact-color: rgba(117, 117, 117, 1);
    --basic-color: #ffffff;
    --fon-color: #2f303a;
    --letter-color: #757575;
    --background-team-color: #f5f4fa;
    --black-color: #000000;
    --link-color: #188ce8;
    --icon-color: #afb1b8;
    --border-color: #eeeeee;
    --border-form-field: rgba(33, 33, 33, 0.2);
    --background-image-gradient: rgba(47, 48, 58, 0.4);
    --box-shadow-color1: rgba(0, 0, 0, 0.2);
    --box-shadow-color2: rgba(0, 0, 0, 0.14);
    --box-shadow-color3: rgba(0, 0, 0, 0.12);
    --box-shadow-color4: rgba(0, 0, 0, 0.1);
    --box-shadow-color5: rgba(0, 0, 0, 0.08);
    --box-shadow-color6: rgba(0, 0, 0, 0.15);
    --box-shadow-color7: rgba(0, 0, 0, 0.06);
    --box-shadow-color8: rgba(0, 0, 0, 0.16);
    --background-color-mission-foto: rgba(47, 48, 58, 0.8);
    --contact-footer-color: rgba(225, 225, 225, 0.6);
    --icon-footer-link-background-color: rgba(255, 255, 255, 0.1);
    --border-footer-form__input: rgba(255, 255, 255, 0.3);
    --background-color-project-card: rgba(33, 150, 243, 0.9);
    --color-form-field-input: rgba(117, 117, 117, 0.5);
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}